{{!--
Re-usable card for linking to posts
--}}

<article class="gh-card {{post_class}} {{#if feature_image}}with-image{{else}}no-image{{/if}}">
        {{#if feature_image}}
            <a class="gh-card-image" href="{{{url}}}">
                <img class="gh-card-image__image"
                     srcset="{{img_url feature_image size="s"}} 300w,
                             {{img_url feature_image size="m"}} 600w,
                             {{img_url feature_image size="l"}} 1000w,
                             {{img_url feature_image size="xl"}} 2000w"
                     sizes="(max-width: 1000px) 400px, 700px"
                     src="{{img_url feature_image size="m"}}"
                     alt="{{title}}"
                />
            </a>
        {{/if}}
        <div class="gh-card-content">
            {{> meta type="card"}}
            <h2 class="gh-card-title"><a href="{{{url}}}">{{title}}</a></h2>
            <p>{{excerpt}}</p>
            <a class="readmore" href="{{{url}}}">
                {{> "icons/arrow-right"}} Lire la suite
            </span>
        </div>

</article>
